# tests with the MGRS ID to set geographic identifiers for 10m WEED reference data
## MGRS_ID10; S2_tile; EPSG; c_lat; c_lon; geometry

In [10]:
import geopandas as gpd
import pandas as pd
#import mgrs
import os

In [5]:
# init MGRS object
m = mgrs.MGRS()

In [16]:
# load the SK data for test
sk_path = os.path.normpath(r'C:\Users\BUCHHORM\Downloads\SK_v5_reference-points_EUNIS2012.csv')
df_sk = pd.read_csv(sk_path)

In [18]:
df_sk.head()

,fid,entry,x,y,valid_L1,valid_L2,valid_L3,lat,lon,label_L1,label_L2,label_L3
0,1,P5000001,4.849642e+06,2.811280e+06,True,True,True,17.118680,48.185489,C,C3,C3.4
1,2,P5000002,4.851750e+06,2.815627e+06,True,True,True,17.152425,48.222568,C,C3,C3.4
2,3,P5000003,4.854840e+06,2.816960e+06,True,True,True,17.195542,48.231791,C,C3,C3.4
3,4,P5000004,4.854535e+06,2.819285e+06,True,True,True,17.194425,48.252869,C,C3,C3.4
4,5,P5000005,4.855180e+06,2.819730e+06,True,True,True,17.203641,48.256284,C,C3,C3.4

In [30]:
# test with first entry
test = (*df_sk[['lat','lon']].iloc[0],)
test

(17.1186803, 48.1854891)

In [36]:
# convert latLon to MGRS_ID10 direct
m.toMGRS(*test, MGRSPrecision=4)

'39QTU00509485'

In [50]:
# convert to UTM via MGRS object  (zone, hemi, easting, northing)
m.MGRSToUTM(m.toMGRS(*test, MGRSPrecision=5))

(39, 'N', 200503.0, 1894850.0)

In [60]:
# convert to UTM via Marcel's tool  (long = X, lat = Y)
from eo_processing.utils.mgrs import LL_2_UTM, LL_2_MGRSid, UTM_2_LL
LL_2_UTM(test[1], test[0])

(200503.28893616836, 1894850.6240331712, 39, 'Q')

In [58]:
LL_2_MGRSid(test[1], test[0])

'39QTU'

In [62]:
def get_MGRSid10_center(longitude, latitude):
    """
    :param longitude: Longitude of the location in decimal degrees.
    :param latitude: Latitude of the location in decimal degrees.
    :return: The center coordinates in latitude and longitude of the nearest MGRS 10-meter grid, after rounding the UTM coordinates to the nearest 5 meters.
    """
    def round_to_nearest_5(value):
        """
        :param value: The value to be rounded.
        :return: The value rounded to the nearest 5.
        """
        return (int(value / 10.0) * 10) + 5

    easting, northing, zone, band = LL_2_UTM(longitude, latitude)
    rounded_easting = round_to_nearest_5(easting)
    rounded_northing = round_to_nearest_5(northing)
    return UTM_2_LL(rounded_easting, rounded_northing, zone, band)

In [66]:
c_center = get_MGRSid10_center(test[1],test[0])
print(c_center)

(48.18550457096998, 17.118720031874876)

In [68]:
m.toMGRS(c_center[1], c_center[0])

'39QTU0050594854'

In [108]:
# load global test set
globe_path = os.path.normpath(r'C:\Users\BUCHHORM\Downloads\latlon_global_test_set.csv')
df = pd.read_csv(globe_path)

In [110]:
df.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [118]:
def process_row(row: pd.Series) -> None:
    """
    :param row: A pandas Series object containing 'longitude' and 'latitude'.
    :return: None. Prints out the MGRS id, formatted easting and northing coordinates, and MGRS result, or an error message if processing fails.
    """
    longitude, latitude = row.longitude, row.latitude
    try:
        mgrs_id = LL_2_MGRSid(longitude, latitude)
        easting, northing, zone, band = LL_2_UTM(longitude, latitude)
    except Exception as e:
        print(f"Error processing row: {row}", e)
        return
    formatted_easting = str(int(easting))[-5:-1]
    formatted_northing = str(int(northing))[-5:-1]
    mgrs_result = m.toMGRS(latitude, longitude, MGRSPrecision=4)
    print(f'{mgrs_id}{formatted_easting}{formatted_northing}   -  {mgrs_result}')

for row in df.itertuples():
    process_row(row)

31TCH85171137   -  31TCH85171137
39QYF91019334   -  39QYF91019334
42SUC80775615   -  42SUC80775615
20QPD28078667   -  20QPD28078667
20QMF92741458   -  20QMF92741458
34TDL30215611   -  34TDL30215611
38TNK03253542   -  38TNK03253542
19PDP93465155   -  19PDP93465155
33LZH13866007   -  33LZH13866007
30CWB83194633   -  30CWB83194633
20HMC46164783   -  20HMC46164783
02LNK93602213   -  02LNK93602213
33TVN66126263   -  33TVN66126263
53JLN76660410   -  53JLN76660410
19PCP94788437   -  19PCP94788437
38TQK19514682   -  38TQK19514682
33TYJ15096601   -  33TYJ15096601
21PTQ24345997   -  21PTQ24345997
46QBM30392185   -  46QBM30392185
31UFR04239568   -  31UFR04239568
30PXU56455332   -  30PXU56455332
35TLH76053237   -  35TLH76053237
39RVJ63726802   -  39RVJ63726802
35MRS24382668   -  35MRS24382668
31PDL24862894   -  31PDL24862894
20SLA34577741   -  20SLA34577741
50NKL47860169   -  50NKL47860169
20KMG37109887   -  20KMG37109887
22LDK00172608   -  22LDK00172608
18RTN58217088   -  18RTN58217088
46RBR46494600   -  46RBR46494600
31FEV26806931   -  31FEV26806931
35KKR61532898   -  35KKR61532898
35UNV62925165   -  35UNV62925165
16QCE40730117   -  16QCE40730117
13VDC16292140   -  13VDC16292140
47LKG68325438   -  47LKG68325438
34MEA84215359   -  34MEA84215359
34NDN93303075   -  34NDN93303075
33MWV92107479   -  33MWV92107479
32TMS41078524   -  32TMS41078524
30NTP18913426   -  30NTP18913426
04KDB19305145   -  04KDB19305145
19HBA69844910   -  19HBA69844910
33NTJ07961548   -  33NTJ07961548
48SVE27356890   -  48SVE27356890
18NWL77940526   -  18NWL77940526
17PJL97897888   -  17PJL97897888
18QTJ11888246   -  18QTJ11888246
26QRC19687146   -  26QRC19687146
48LWP75564502   -  48LWP75564502
36SWD39168714   -  36SWD39168714
33UWR34021844   -  33UWR34021844
32UPB01486925   -  32UPB01486925
38PKU37440834   -  38PKU37440834
32VNH31083556   -  32VNH31083556
20PPC74810488   -  20PPC74810488
19QCA77437198   -  19QCA77437198
31RCM68240168   -  31RCM68240168
17MRT13389734   -  17MRT13389734
35VLE84559669   -  35VLE84559669
36RTQ81596845   -  36RTQ81596845
28RGM14707971   -  28RGM14707971
37PES84037831   -  37PES84037831
30TVK36487949   -  30TVK36487949
37PFL63681122   -  37PFL63681122
35VMJ34276635   -  35VMJ34276635
60KYG57636555   -  60KYG57636555
21FUC25985861   -  21FUC25985861
56NKP29652153   -  56NKP29652153
29VPJ09746398   -  29VPJ09746398
31TDM39361964   -  31TDM39361964
32MQE90431107   -  32MQE90431107
30UVG72373694   -  30UVG72373694
20PPU51815600   -  20PPU51815600
38TLM64598610   -  38TLM64598610
22NBK63953512   -  22NBK63953512
30UWV30047930   -  30UWV30047930
30NYP17917890   -  30NYP17917890
30STF88960177   -  30STF88960177
23WNV83905791   -  23WNV83905791
28PDV66428616   -  28PDV66428616
29PML23639947   -  29PML23639947
20QND99247934   -  20QND99247934
32NPG41038250   -  32NPG41038250
34SEJ71302533   -  34SEJ71302533
24FXE56466600   -  24FXE56466600
15PYT96704693   -  15PYT96704693
55PBQ61128734   -  55PBQ61128734
28PDU80340485   -  28PDU80340485
21NTF85943754   -  21NTF85943754
36RXV24486964   -  36RXV24486964
50QKK02387956   -  50QKK02387956
43FCB99801758   -  43FCB99801758
16PEB81428058   -  16PEB81428058
33TWK15739407   -  33TWK15739407
18QYF85869984   -  18QYF85869984
34TCT86552430   -  34TCT86552430
49MHV25181264   -  49MHV25181264
29UNV50251847   -  29UNV50251847
36RXV76693617   -  36RXV76693617
30UUF99101089   -  30UUF99101089
44QKH87687850   -  44QKH87687850
42MZT18269797   -  42MZT18269797
38SLB76937680   -  38SLB76937680
39SYR52759104   -  39SYR52759104
27WWN93440579   -  27WWN93440579
33TTG98123841   -  33TTG98123841
30UWV63265165   -  30UWV63265165
18QTF56870382   -  18QTF56870382
37RBP35178687   -  37RBP35178687
54STF53021016   -  54STF53021016
37MCV78279739   -  37MCV78279739
43TDF80386147   -  43TDF80386147
48PVU99018910   -  48PVU99018910
02MQB51772717   -  02MQB51772717
38LLM77168701   -  38LLM77168701
20QNE23051915   -  20QNE23051915
52TCK73456654   -  52TCK73456654
52SCE88737441   -  52SCE88737441
38RQT41034507   -  38RQT41034507
17QNB45435770   -  17QNB45435770
42UUU45172056   -  42UUU45172056
48QTG37719752   -  48QTG37719752
36SYC64814973   -  36SYC64814973
20PQA18383863   -  20PQA18383863
32TNT42092376   -  32TNT42092376
44NMP74847027   -  44NMP74847027
29NMH52501054   -  29NMH52501054
35JPH19442379   -  35JPH19442379
34UFG83501743   -  34UFG83501743
32UKA93512204   -  32UKA93512204
35VLD53940654   -  35VLD53940654
33RYK22401471   -  33RYK22401471
29RPR80581893   -  29RPR80581893
32TLP72214536   -  32TLP72214536
35TPN03345181   -  35TPN03345181
34TCN66872974   -  34TCN66872974
38KPE97022392   -  38KPE97022392
59NNH20378828   -  59NNH20378828
34TEM62090659   -  34TEM62090659
30QUE94284296   -  30QUE94284296
46QHK05422624   -  46QHK05422624
48TVS12099052   -  48TVS12099052
49QGE62275702   -  49QGE62275702
55QCV28341687   -  55QCV28341687
20PQB12801960   -  20PQB12801960
29QKD98272424   -  29QKD98272424
20QND86615124   -  20QND86615124
33SVV43667719   -  33SVV43667719
40KEC57634986   -  40KEC57634986
43NCD02285417   -  43NCD02285417
36LXL41003437   -  36LXL41003437
13QGG49651590   -  13QGG49651590
47NRE30386602   -  47NRE30386602
36KYE66833427   -  36KYE66833427
34KBV42675897   -  34KBV42675897
58KEB64278831   -  58KEB64278831
32QME02564702   -  32QME02564702
58JGN87748388   -  58JGN87748388
32PMR64310393   -  32PMR64310393
16PFV94542293   -  16PFV94542293
31UFT56827826   -  31UFT56827826
32VMN70800409   -  32VMN70800409
45RTM18194430   -  45RTM18194430
58MGE14964218   -  58MGE14964218
02KPD19199276   -  02KPD19199276
60GUV21937013   -  60GUV21937013
40QCJ88477926   -  40QCJ88477926
17PNK23974378   -  17PNK23974378
18LVQ98338414   -  18LVQ98338414
06KTF44684361   -  06KTF44684361
54MZU27030104   -  54MZU27030104
51PUQ66972415   -  51PUQ66972415
42RWU33156042   -  42RWU33156042
34UCC72435370   -  34UCC72435370
21TWM55479896   -  21TWM55479896
09JXN57876697   -  09JXN57876697
19QGA54851629   -  19QGA54851629
36RYA11063731   -  36RYA11063731
29SND66776143   -  29SND66776143
53NMJ53943070   -  53NMJ53943070
21KUQ52500675   -  21KUQ52500675
39RWJ18500425   -  39RWJ18500425
40KCB47996440   -  40KCB47996440
35TLL42408974   -  35TLL42408974
34TEP00467370   -  34TEP00467370
48VWP16952119   -  48VWP16952119
35MRT19748526   -  35MRT19748526
38QNM08054160   -  38QNM08054160
57LXK26853354   -  57LXK26853354
40MCV32738257   -  40MCV32738257
36PSV98002359   -  36PSV98002359
34VCM69086801   -  34VCM69086801
48NUG68704947   -  48NUG68704947
29JLP95272950   -  29JLP95272950
33TVM99641085   -  33TVM99641085
35XMG19921082   -  35XMG19921082
34UDU04219148   -  34UDU04219148
29PJK93893630   -  29PJK93893630
33TTJ95976861   -  33TTJ95976861
28PEB59010280   -  28PEB59010280
38NPL32966960   -  38NPL32966960
21NXE07933327   -  21NXE07933327
32NKF34312061   -  32NKF34312061
16PBA94972577   -  16PBA94972577
37SDU99705109   -  37SDU99705109
36JUR47146553   -  36JUR47146553
19QBE10490157   -  19QBE10490157
34PBC56660984   -  34PBC56660984
42FWL25354131   -  42FWL25354131
31PBK60615347   -  31PBK60615347
47PQT13355557   -  47PQT13355557
42SXJ97480381   -  42SXJ97480381
02LMR05910864   -  02LMR05910864
51LZL00001795   -  51LZL00001795
40SGJ21461652   -  40SGJ21461652
32SNC49704974   -  32SNC49704974
01KFS87055698   -  01KFS87055698
36SXJ94361514   -  36SXJ94361514
20PPS94408246   -  20PPS94408246
60MWT71701409   -  60MWT71701409
51QTG92052225   -  51QTG92052225
36MYT08929561   -  36MYT08929561
36UUU64166009   -  36UUU64166009
36NVG21045180   -  36NVG21045180
15STB58870832   -  15STB58870832
21HXE15910094   -  21HXE15910094
41TPF32568187   -  41TPF32568187
33TTG88764213   -  33TTG88764213
20PPV85773602   -  20PPV85773602
19NGH66601067   -  19NGH66601067
20QLF26783751   -  20QLF26783751
20QKF99602837   -  20QKF99602837
49PBR05935587   -  49PBR05935587
58LGH10289905   -  58LGH10289905
01LDE83127784   -  01LDE83127784
02LLK80587864   -  02LLK80587864
34TDN92041669   -  34TDN92041669
39PTT33612101   -  39PTT33612101
38LNL18048193   -  38LNL18048193
34JFM85821761   -  34JFM85821761
35LNF92054790   -  35LNF92054790
35KQU26819607   -  35KQU26819607

some tests with the new grid20id for the openEO 20x20km global processing grid. The grid20id functions should assign to each reference point the corresponding 20x20km grid cell so that a faster grouping for openEO processing purposes is possible.

In [1]:
from eo_processing.utils.mgrs import UTM_2_MGRSid, UTM_2_grid20id, LL_2_UTM, LL_2_grid20id, LL_2_MGRSid

In [16]:
# load the shapefile of the global terrestrial 100k grid
import eo_processing.resources
import importlib.resources as importlib_resources
import geopandas as gpd
import os
#grid = importlib_resources.files(eo_processing.resources).joinpath('global_terrestrial_MGRS100k_grid.gpkg')
grid = os.path.normpath(r'C:\Users\BUCHHORM\Downloads\world_mgrs\mgrs_region.shp')
gdf = gpd.read_file(os.path.normpath(grid))

In [17]:
gdf.head()

,GRID1MIL,GRID100K,LONGITUDE,LATITUDE,geometry
0,33L,SC,12.102867,-15.678288,"POLYGON ((12 -16, 12 -15.90909, 12 -15.81818, ..."
1,33L,TC,12.666855,-15.679626,"POLYGON ((13.13098 -16, 13.125 -16, 13.03125 -..."
2,33L,UC,13.599601,-15.684492,"POLYGON ((14.06538 -16, 14.0625 -16, 13.96875 ..."
3,33L,VC,14.532691,-15.687415,"POLYGON ((15 -16, 14.90625 -16, 14.8125 -16, 1..."
4,33L,WC,15.467309,-15.687415,"POLYGON ((15.93462 -16, 15.84375 -16, 15.75 -1..."

In [18]:
def get_grid20id_center(geometry):
    c_center = geometry.centroid
    return LL_2_grid20id(c_center.x, c_center.y)[:5]

In [19]:
gdf['grid100id'] = gdf.apply(lambda row: get_grid20id_center(row['geometry']), axis=1, result_type='expand')

In [20]:
gdf.head()

,GRID1MIL,GRID100K,LONGITUDE,LATITUDE,geometry,grid100id
0,33L,SC,12.102867,-15.678288,"POLYGON ((12 -16, 12 -15.90909, 12 -15.81818, ...",33εSC
1,33L,TC,12.666855,-15.679626,"POLYGON ((13.13098 -16, 13.125 -16, 13.03125 -...",33εTC
2,33L,UC,13.599601,-15.684492,"POLYGON ((14.06538 -16, 14.0625 -16, 13.96875 ...",33εUC
3,33L,VC,14.532691,-15.687415,"POLYGON ((15 -16, 14.90625 -16, 14.8125 -16, 1...",33εVC
4,33L,WC,15.467309,-15.687415,"POLYGON ((15.93462 -16, 15.84375 -16, 15.75 -1...",33εWC

In [21]:
# save to disk
out_path = os.path.normpath(r'C:\Users\BUCHHORM\Downloads\global_terrestrial_UTM100k_grid_unfiltered.gpkg')
gdf.to_file(out_path, driver='GPKG')

In [2]:
# test regarding leading zeros
zero = (0,0)
LL_2_UTM(*zero)

(166021.44308054057, 0.0, 31, 'N')

In [3]:
LL_2_grid20id(*zero)

'31λAA30'

In [4]:
LL_2_MGRSid(*zero)

'31NAA'

In [5]:
from eo_processing.utils.mgrs import LL_2_grid100id, LL_2_MGRSid10

In [6]:
LL_2_grid100id(*zero)

'31λAA'

In [7]:
LL_2_MGRSid10(*zero)

'31NAA66020000'